{% extends "bootstrap/base.html" %}
{% import "bootstrap/google.html" as google %}

{% block title %}
{{ config['PUBLIC_CONFIG'].site.title }}
{% endblock %}

{%- block metas %}
{{super()}}
<meta charset="utf-8">
<meta name="description" content="{{ config['PUBLIC_CONFIG'].site.title }}"/>
<meta name="keywords" content="{{ config['PUBLIC_CONFIG'].site.keywords }}"/>
<meta name="copyright" content="{{ config['PUBLIC_CONFIG'].company.domain }}"/>
{% endblock %}

{% block styles %}
{{super()}}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/bootstrap-3.3.7-dist/css/bootstrap.min.css') }}"/>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/main.css') }}"/>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/media-queries.css') }}"/>
<script src="{{ url_for('static', filename='assets/js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/bootstrap-3.3.7-dist/js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/script.js') }}"></script>
{% endblock %}

{% block navbar %}
{% endblock %}

{% block content %}
{% endblock %}

{% block scripts %}
  {{super()}}
  {{google.uanalytics(config['GOOGLE_ANALYTICS_ID'])}}
{% endblock %}