<!doctype html>
<html>
<head>
    <title>
        {% block title %}
            {{ PUBLIC_CONFIG.site.title }}
        {% endblock %}
    </title>

    {% block css %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Bootstrap -->
        <link rel="stylesheet" type="text/css"
              href="{{ url_for('static', filename='assets/bootstrap-3.3.7-dist/css/bootstrap.min.css') }}"/>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/main.css') }}"/>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/media-queries.css') }}"/>

    {% endblock %}

    {% block script %}
        <script src="{{ url_for('static', filename='assets/js/jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='assets/bootstrap-3.3.7-dist/js/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='assets/js/script.js') }}"></script>
    {% endblock %}
</head>
<body>
{% block body %}
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
    <div id="footer">
        {% block footer %}
        {% endblock %}
    </div>
{% endblock %}

</body>
</html>
