{% extends 'layouts/layout_home.html' %}
{% block title %}
Login | {{ config['PUBLIC_CONFIG'].site.title }}
{% endblock %}


{% block content %}
<div class="container">
    <div class="well">
        <h1>Sign In</h1>
        <p>Note: Your data isn't going anywhere.</p>
    </div>
    {{ util.flashed_messages(dismissible=True) }}
    <form action="" method="post" class="form" role="form">
        {{ form.hidden_tag() }}
        {{ wtf.form_field(form.email, class='form-control', placeholder='Your registered email.') }}
        <br>
        {{ wtf.form_field(form.password, class='form-control', placeholder='Enter a password.') }}
        {{ wtf.form_field(form.submit, class="btn btn-success") }}
    </form>
</div>
{%- endblock %}