{% extends 'layouts/layout_home.html' %}
{% block title %}
Login | {{ config['PUBLIC_CONFIG'].site.title }}
{% endblock %}


{% block content %}
<div class="container">
    <div class="well">
        <h1>{% trans %}Sign In{% endtrans %}</h1>
        <p>{% trans %}Note: Your data isn't going anywhere.{% endtrans %}</p>
    </div>
    {{ util.flashed_messages(dismissible=True, container=False) }}
    <form action="" method="post" class="form" role="form">
        {{ form.hidden_tag() }}
        <div class="form-group  required">
            <label class="control-label" for="email">{{ form.email.label }}</label>
            <input class="form-control" id="email" name="email"
                   placeholder="{% trans %}Your registered email.{% endtrans %}" required type="text" value="">
        </div>
        <br>
        <div class="form-group  required">
            <label class="control-label" for="password">{{ form.password.label }}</label>
            <input class="form-control" id="password" name="password"
                   placeholder="{% trans %}Enter a password.{% endtrans %}" required type="password" value="">
        </div>
        {{ form_field(form.submit, class="btn btn-success") }}
    </form>
</div>
{%- endblock %}