<!-- args: total, available_currencies, currency, language -->
{% extends 'index.html' %}
{% block css %}
<!-- Bootstrap Form Helpers -->
<link href="/static/assets/bootstrapformhelpers/css/bootstrap-formhelpers.min.css" rel="stylesheet" media="screen">
<!-- Bootstrap Date picker Helpers -->
<link href="/static/assets/bootstrap-datetimepicker-4.17.47/css/bootstrap-datetimepicker.min.css" rel="stylesheet"
      media="screen">

{% endblock %}
{% block script %}
<!-- Bootstrap core JavaScript -->
<script src="/static/assets/js/jquery.min.js"></script>
<script src="/static/assets/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<!-- http://bootstrapformhelpers.com -->
<script src="/static/assets/bootstrapformhelpers/js/bootstrap-formhelpers.min.js"></script>

<!--- http://eonasdan.github.io -->
<script src="/static/assets/js/moment-with-locales.min.js"></script>
<script src="/static/assets/bootstrap-datetimepicker-4.17.47/js/bootstrap-datetimepicker.min.js"></script>

<script>
    function add_revenue() {
        $.ajax({
            url: "/user/revenue/add",
            type: "POST",
            dataType: 'json',
            data: $('#revenue_add_form').serialize(),
            success: function (response) {
                console.log(response);
                $("#revenue_modal").modal('hide');
                window.location.reload();
            },
            error: function (error) {
                console.error(error);
            }
        });
    }
    function remove_revenue(revenue_id) {
        $.ajax({
            url: "/user/revenue/remove",
            type: "POST",
            dataType: 'json',
            data: {"revenue_id":revenue_id},
            success: function (response) {
                console.log(response);
                window.location.reload();
            },
            error: function (error) {
                console.error(error);
            }
        });
    }

    function add_expense() {
        $.ajax({
            url: "/user/expense/add",
            type: "POST",
            dataType: 'json',
            data: $('#expense_add_form').serialize(),
            success: function (response) {
                console.log(response);
                $("#expense_modal").modal('hide');
                window.location.reload();
            },
            error: function (error) {
                console.error(error);
            }
        });
    }
    function remove_expense(expense_id) {
        $.ajax({
            url: "/user/expense/remove",
            type: "POST",
            dataType: 'json',
            data: {"expense_id":expense_id},
            success: function (response) {
                console.log(response);
                window.location.reload();
            },
            error: function (error) {
                console.error(error);
            }
        });
    }
</script>
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-10">
            <p>Welcome {{ current_user.email }}</p>
        </div>
        <div class="col-md-1">
            <a href="{{ url_for('user.settings') }}" class="btn btn-info" role="button">Settings</a>
        </div>
        <div class="col-md-1">
            <a href="{{ url_for('user.logout') }}" class="btn btn-info" role="button">Logout</a>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6 well">
            <h4 class="card-title">Revenues:</h4>
            <table class="table">
                <thead>
                <tr>
                    <th class="number">#</th>
                    <th class="value">Value</th>
                    <th class="currency">Currency</th>
                    <th class="actions">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for revenue in current_user.revenues %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ revenue.value }}</td>
                    <td>{{ revenue.currency }}</td>
                    <td>
                        <button type="submit" class="btn btn-danger btn-xs"
                                onclick="remove_revenue('{{ revenue.id }}')">
                            Remove
                        </button>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            <button id="revenue_button" class="btn btn-success btn-send" data-toggle="modal" data-target="#revenue">
                Add
            </button>
        </div>
        <div class="col-md-6 well">
            <h4 class="card-title">Expenses:</h4>
            <table class="table">
                <thead>
                <tr>
                    <th class="number">#</th>
                    <th class="value">Value</th>
                    <th class="currency">Currency</th>
                    <th class="actions">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for expense in current_user.expenses %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ expense.value }}</td>
                    <td>{{ expense.currency }}</td>
                    <td>
                        <button type="submit" class="btn btn-danger btn-xs"
                                onclick="remove_expense('{{ expense.id }}')">
                            Remove
                        </button>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            <button id="expense_button" class="btn btn-success btn-send" data-toggle="modal" data-target="#expense">
                Add
            </button>
        </div>
    </div>
</div>

<br>
<br>
<br>
<br>
<br>

<div class="container well">
    <div class="row">
        <h2 class="col-md-6">Balance:</h2>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-6">
                    <input type="number" value="{{total}}" name="value" class="form-control" readonly>
                </div>
                <div class="col-md-6">
                    <form>
                        <div class="bfh-selectbox bfh-currencies" data-name="balance_currency"
                             data-currency="{{currency}}"
                             data-available="{{available_currencies}}" data-flags="true">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% with modal_id='revenue', func='add_revenue()', locale=language.locale, title='Add revenue', currency=currency, available_currencies=available_currencies, categories=current_user.revenues_categories %}
{% include 'user/money_entry_dialog.html' %}
{% endwith %}

{% with modal_id='expense', func='add_expense()', locale=language.locale, title='Add expense', currency=currency, available_currencies=available_currencies, categories=current_user.expenses_categories %}
{% include 'user/money_entry_dialog.html' %}
{% endwith %}

{% endblock %}