{% extends 'layouts/layout_user.html' %}
{% import "bootstrap/utils.html" as util %}
{% from 'bootstrap/wtf.html' import form_field %}
{% macro render_bootstrap_field(field) %}
<div class="row">
    <label class="col-md-4">{{ field.label }}</label>
    <div class="col-md-8">
        {{ field(class='form-control')|safe }}
    </div>
</div>
{% endmacro %}

{% block title %}
Settings | {{ config['PUBLIC_CONFIG'].site.title }}
{% endblock %}
{% block styles %}
{{super()}}
<!-- Bootstrap Form Helpers -->
<link rel="stylesheet" type="text/css"
      href="{{url_for('static', filename='assets/bootstrapformhelpers/css/bootstrap-formhelpers.min.css')}}"/>
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-11">
            <p>{% trans %}Settings{% endtrans %}</p>
        </div>
    </div>
</div>
<br>
{{ util.flashed_messages(dismissible=True, container=False) }}
<div class="container well">
    <form action="" method="post" class="form" role="form">
        {{ form.hidden_tag() }}
        {{ render_bootstrap_field(form.locale) }}
        <br>
        <div class="row">
            <label class="col-md-4">{{form.currency.label}}</label>
            <div class="col-md-8">
                <div class="bfh-selectbox bfh-currencies" data-name="currency" data-currency="{{form.currency.data}}"
                     data-available="{{available_currencies}}" data-flags="true">
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <label class="col-md-4">{{form.start_date.label}}</label>
            <div class="col-md-8">
                <div class="form-group">
                    <div class="input-group date" id="start_date_datetimepicker">
                        <input type='text' name="start_date" class="form-control"/>
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <label class="col-md-4">{{form.end_date.label}}</label>
            <div class="col-md-8">
                <div class="form-group">
                    <div class="input-group date" id="end_date_datetimepicker">
                        <input type='text' name="end_date" class="form-control"/>
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        {{ form_field(form.submit, class="btn btn-success") }}
    </form>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<!-- http://bootstrapformhelpers.com -->
<script src="{{url_for('static', filename='assets/bootstrapformhelpers/js/bootstrap-formhelpers.min.js')}}"></script>

<!--- http://eonasdan.github.io -->
<script src="{{url_for('static', filename='assets/js/moment-with-locales.min.js')}}"></script>
<script src="{{url_for('static', filename='assets/bootstrap-datetimepicker-4.17.47/js/bootstrap-datetimepicker.min.js')}}"></script>
<script>
    $(function () {
        $('#start_date_datetimepicker').datetimepicker({
            locale: '{{form.locale.data}}',
            format: 'MM/DD/YYYY HH:mm:ss',
            defaultDate: '{{form.start_date._value()}}'
        });
    });
    $(function () {
        $('#end_date_datetimepicker').datetimepicker({
            locale: '{{form.locale.data}}',
            format: 'MM/DD/YYYY HH:mm:ss',
            defaultDate:'{{form.end_date._value()}}'
        });
    });
</script>
{% endblock %}