{% extends 'layouts/layout.html' %}

{% block title %}
{{ config['PUBLIC_CONFIG'].site.title }}
{% endblock %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/main.css') }}"/>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/media-queries.css') }}"/>
{% endblock %}

{% block content %}
<header>
    <!--Navigation-->
    <nav class="navbar navbar-default navbar-fixed-top" id="main-top-navbar">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-top">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#about-main">{{ config['PUBLIC_CONFIG'].site.title }}</a>
            </div>
            <div class="navbar-collapse collapse navbar-right" id="navbar-top">
                <ul class="nav navbar-nav">
                    <li><a href="#advantages">{% trans %}Advantages{% endtrans %}</a></li>
                </ul>
                <div class="dropdown pull-right">
                    <a class="btn btn-default" data-toggle="dropdown">{% trans %}Language{% endtrans %} <b
                            class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        {% for language in languages %}
                        <li>
                            <a href="{{ url_for('home.set_language', language=language[0]) }}">{{ language[1] }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</header>

<main>
    <!--Section About and buttons 'sign in', 'register'-->
    <section id="about-main" class="vertical-align">
        <div class="container">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-xs-12 col-sm-8 col-md-7">
                    <h1>Manage your finances</h1>
                    <p class="about-description">{{ config['PUBLIC_CONFIG'].site.title }} is a financial platform,
                        which helps you control costs,
                        plan your budget, save money. {{ config['PUBLIC_CONFIG'].site.title }} is free and easy to
                        use.</p>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-3 main-buttons">
                    <a class="btn btn-block" href="{{ url_for('home.register') }}"><span
                            class="glyphicon glyphicon-user"></span> {% trans %}Register{% endtrans %}</a>
                    <a class="btn btn-block" href="{{ url_for('home.login') }}"><span
                            class="glyphicon glyphicon-log-in"></span> {% trans %}Sign in{% endtrans %}</a>
                    <p class="conditions text-center">By clicking “Register”, you agree to our <a
                            href="{{ url_for('home.term_of_use') }}">Term
                        of use</a> and <a href="{{ url_for('home.private_policy') }}">Private policy</a>.</p>
                </div>
                <div class="col-md-1"></div>
            </div>
        </div>
    </section>

    <!--Section Advantages-->
    <section id="advantages" class="vertical-align">
        <div class="container">
            <h2 class="text-center advantages-title">Why are we better than others</h2>
            <div class="row">
                <div class="col-md-4 col-lg-4 col-xs-6 text-center advantage">
                    <img src="../static/assets/images/icon-currencies.png">
                    <h4>{% trans %}More than 150 currencies with historical
                        exchanges{% endtrans %}</h4>
                </div>
                <div class="col-xs-6 col-md-4 col-lg-4 text-center advantage">
                    <img src="../static/assets/images/icon-free.png">
                    <h4>{% trans %}Free and open source{% endtrans %}</h4>
                </div>
                <div class="col-xs-6 col-md-4 col-lg-4 text-center advantage">
                    <img src="../static/assets/images/icon-save-money.png">
                    <h4>{% trans %}Save money{% endtrans %}</h4>
                </div>
                <div class="col-xs-6 col-md-4 col-lg-4 text-center advantage">
                    <img src="../static/assets/images/icon-notifications.png">
                    <h4>{% trans %}Recuiring entries with notifications{% endtrans %}</h4>
                </div>
                <div class="col-xs-6 col-md-4 col-lg-4 text-center advantage">
                    <img src="../static/assets/images/icon-clock.png">
                    <h4>{% trans %}Save time{% endtrans %}</h4>
                </div>
                <div class="col-xs-6 col-md-4 col-lg-4 text-center advantage">
                    <img src="../static/assets/images/icon-graphics.png">
                    <h4>{% trans %}Flow analytics{% endtrans %}</h4>
                </div>
                <div class="col-xs-6 col-md-4 col-lg-4 text-center advantage">
                    <img src="../static/assets/images/icon-encrise-money.png">
                    <h4>{% trans %}Motivation to encrise money income{% endtrans %}</h4>
                </div>
                <div class="col-xs-6 col-md-4 col-lg-4 text-center advantage">
                    <img src="../static/assets/images/icon-analytics.png">
                    <h4>{% trans %}Amazing graphics of Money Flow{% endtrans %}</h4>
                </div>
                <div class="col-xs-6 col-md-4 col-lg-4 text-center advantage hidden-item">
                    <img src="../static/assets/images/icon-simple-to-use.png">
                    <h4>{% trans %}Simple to use{% endtrans %}</h4>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='assets/js/script.js') }}"></script>
{% endblock %}