<html>
<head>
    <title>Registration</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='assets/css/main.css')}}"/>
    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='assets/bootstrap-3.3.7-dist/css/bootstrap.min.css')}}"/>
    {% block css %}
    {% endblock %}
    {% block script %}
    {% endblock %}
</head>
<body style="margin-top: 25px;">
{% block content %}
<div class="container">
    <a class="btn btn-lg btn-primary btn-block" href={{ url_for('home.register') }}>Register</a>
    <a class="btn btn-lg btn-primary btn-block" href={{ url_for('home.login') }}>Sign in</a>
</div>
{% endblock %}
</body>
</html>
