{% extends 'layouts/layout.html' %}
{% block title %}
{{ PUBLIC_CONFIG.site.title }}
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <a class="btn btn btn-primary btn-block" href={{ url_for('home.register') }}>Register</a>
        </div>
        <div class="col-md-6">
            <a class="btn btn btn-primary btn-block" href={{ url_for('home.login') }}>Sign in</a>
        </div>
    </div>
</div>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <a class="btn btn btn-primary btn-block" href={{ url_for('home.private_policy') }}>Private policy</a>
        </div>
        <div class="col-md-6">
            <a class="btn btn btn-primary btn-block" href={{ url_for('home.term_of_use') }}>Term of use</a>
        </div>
    </div>
</div>
{% endblock %}